{% extends "::base.html.twig" %}
  {% block stylesheet_inline %}
  {% endblock %}
  {% block breadcrumbs %}
      <!-- BEGIN BREADCRUMBS -->
      <div class="breadcrumbs">
          {% block breadtitle %} <h1>Grupo Belraysa</h1> {% endblock %}
          <ol class="breadcrumb">
              <li><a href="{{ path('index') }}">Grupo Belraysa</a></li>
              {% block breadcrumb %}

              {% endblock %}
          </ol>
      </div>
      <!-- END BREADCRUMBS -->
  {% endblock %}
            {% block content %}

            {% endblock %}
  {% block quicksidebar %}

  {% endblock %}
{% block javascript_inline %}
{% endblock %}



