<form action="{{ path('anno_create') }}" role="form" id="newAnno" method="post"
      class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-2"><label class="control-label"><span style="color: red"
                                                                 class="required">*&nbsp;</span>A&ntilde;o</label></div>
        <div class="col-sm-10">
            <div class="input-group date date-picker" data-date-format="yyyy" data-date-viewmode="years"
                 data-date-minviewmode="years" data-date-start-date="+0d">
                <input id="anno" name="anno" type="text" class="form-control">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i>
                                                </button>
												</span>
            </div>

        </div>
    </div>

</form>
